* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 11px;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

.card {
    margin: 8%;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5em;
    padding: 1.25em;
}

figcaption h1 {
    font-size: 1.75rem;
    color: hsl(0, 0%, 20%);
    margin-bottom: 0.5em;
    padding: 2rem 0.25rem 0.75rem 0.25rem;
}

figcaption p {
    font-size: 1.25rem;
    font-weight: 300;
    color: hsl(0, 0%, 50%);
    margin-bottom: 1em;
}

img {
    width: 100%;
    height: auto;
    border-radius: 1.5em;
}

.attribution {
    width: 100%;
    padding-right: 1rem;
    display: sticky;
    position: absolute;
    text-align: right;
    bottom: 0;
    font-size: 20px;
}